[data-cellid="grid_footcell_field"][data-page="estructura_list"][data-cellid="grid_footcell_field"][data-page="estructura_list"][data-cellid="grid_footcell_field"][data-page="estructura_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="estructura_list"][data-cellid="grid_footcell_field1"][data-page="estructura_list"][data-cellid="grid_footcell_field1"][data-page="estructura_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="estructura_list"][data-cellid="grid_footcell_field2"][data-page="estructura_list"][data-cellid="grid_footcell_field2"][data-page="estructura_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="estructura_list"][data-cellid="grid_headcell_checkbox"][data-page="estructura_list"][data-cellid="grid_headcell_checkbox"][data-page="estructura_list"] {
  width: 30px;
}


