<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel corporacion search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c1}
<td
	{$cell_grid_c1}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c1" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_partido_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_partido}  r-horizontal-field form-horizontal" 
	
		data-fieldname="id_partido" 
	
	data-signal-error-for="id_partido{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id_partido" >


	<label class="r-search-label control-label" for="{$labelfor_id_partido}">
		{$label corporacion id_partido }	</label>
	<div class="r-search-option">
		{$searchtype_id_partido}
	</div>
	<div class="r-search-field">
		{$id_partido_editcontrol}	</div>
	<div class="r-search-field">
		{$id_partido_editcontrol1}
	</div>
	
</div>

{END id_partido_fieldblock}
											
{BEGIN alcalde_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_alcalde}  r-horizontal-field form-horizontal" 
	
		data-fieldname="alcalde" 
	
	data-signal-error-for="alcalde{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="alcalde" >


	<label class="r-search-label control-label" for="{$labelfor_alcalde}">
		{$label corporacion alcalde }	</label>
	<div class="r-search-option">
		{$searchtype_alcalde}
	</div>
	<div class="r-search-field">
		{$alcalde_editcontrol}	</div>
	<div class="r-search-field">
		{$alcalde_editcontrol1}
	</div>
	
</div>

{END alcalde_fieldblock}
											
{BEGIN vice_alcalde_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_vice_alcalde}  r-horizontal-field form-horizontal" 
	
		data-fieldname="vice_alcalde" 
	
	data-signal-error-for="vice_alcalde{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="vice_alcalde" >


	<label class="r-search-label control-label" for="{$labelfor_vice_alcalde}">
		{$label corporacion vice_alcalde }	</label>
	<div class="r-search-option">
		{$searchtype_vice_alcalde}
	</div>
	<div class="r-search-field">
		{$vice_alcalde_editcontrol}	</div>
	<div class="r-search-field">
		{$vice_alcalde_editcontrol1}
	</div>
	
</div>

{END vice_alcalde_fieldblock}
											
{BEGIN regidor1_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_regidor1}  r-horizontal-field form-horizontal" 
	
		data-fieldname="regidor1" 
	
	data-signal-error-for="regidor1{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="regidor1" >


	<label class="r-search-label control-label" for="{$labelfor_regidor1}">
		{$label corporacion regidor1 }	</label>
	<div class="r-search-option">
		{$searchtype_regidor1}
	</div>
	<div class="r-search-field">
		{$regidor1_editcontrol}	</div>
	<div class="r-search-field">
		{$regidor1_editcontrol1}
	</div>
	
</div>

{END regidor1_fieldblock}
											
{BEGIN regidor2_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_regidor2}  r-horizontal-field form-horizontal" 
	
		data-fieldname="regidor2" 
	
	data-signal-error-for="regidor2{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="regidor2" >


	<label class="r-search-label control-label" for="{$labelfor_regidor2}">
		{$label corporacion regidor2 }	</label>
	<div class="r-search-option">
		{$searchtype_regidor2}
	</div>
	<div class="r-search-field">
		{$regidor2_editcontrol}	</div>
	<div class="r-search-field">
		{$regidor2_editcontrol1}
	</div>
	
</div>

{END regidor2_fieldblock}
											
{BEGIN regidor3_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_regidor3}  r-horizontal-field form-horizontal" 
	
		data-fieldname="regidor3" 
	
	data-signal-error-for="regidor3{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="regidor3" >


	<label class="r-search-label control-label" for="{$labelfor_regidor3}">
		{$label corporacion regidor3 }	</label>
	<div class="r-search-option">
		{$searchtype_regidor3}
	</div>
	<div class="r-search-field">
		{$regidor3_editcontrol}	</div>
	<div class="r-search-field">
		{$regidor3_editcontrol1}
	</div>
	
</div>

{END regidor3_fieldblock}
											
{BEGIN regidor4_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_regidor4}  r-horizontal-field form-horizontal" 
	
		data-fieldname="regidor4" 
	
	data-signal-error-for="regidor4{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="regidor4" >


	<label class="r-search-label control-label" for="{$labelfor_regidor4}">
		{$label corporacion regidor4 }	</label>
	<div class="r-search-option">
		{$searchtype_regidor4}
	</div>
	<div class="r-search-field">
		{$regidor4_editcontrol}	</div>
	<div class="r-search-field">
		{$regidor4_editcontrol1}
	</div>
	
</div>

{END regidor4_fieldblock}
											
{BEGIN regidor5_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_regidor5}  r-horizontal-field form-horizontal" 
	
		data-fieldname="regidor5" 
	
	data-signal-error-for="regidor5{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="regidor5" >


	<label class="r-search-label control-label" for="{$labelfor_regidor5}">
		{$label corporacion regidor5 }	</label>
	<div class="r-search-option">
		{$searchtype_regidor5}
	</div>
	<div class="r-search-field">
		{$regidor5_editcontrol}	</div>
	<div class="r-search-field">
		{$regidor5_editcontrol1}
	</div>
	
</div>

{END regidor5_fieldblock}
											
{BEGIN regidor6_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_regidor6}  r-horizontal-field form-horizontal" 
	
		data-fieldname="regidor6" 
	
	data-signal-error-for="regidor6{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="regidor6" >


	<label class="r-search-label control-label" for="{$labelfor_regidor6}">
		{$label corporacion regidor6 }	</label>
	<div class="r-search-option">
		{$searchtype_regidor6}
	</div>
	<div class="r-search-field">
		{$regidor6_editcontrol}	</div>
	<div class="r-search-field">
		{$regidor6_editcontrol1}
	</div>
	
</div>

{END regidor6_fieldblock}
											
{BEGIN regidor7_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_regidor7}  r-horizontal-field form-horizontal" 
	
		data-fieldname="regidor7" 
	
	data-signal-error-for="regidor7{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="regidor7" >


	<label class="r-search-label control-label" for="{$labelfor_regidor7}">
		{$label corporacion regidor7 }	</label>
	<div class="r-search-option">
		{$searchtype_regidor7}
	</div>
	<div class="r-search-field">
		{$regidor7_editcontrol}	</div>
	<div class="r-search-field">
		{$regidor7_editcontrol1}
	</div>
	
</div>

{END regidor7_fieldblock}
											
{BEGIN regidor8_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_regidor8}  r-horizontal-field form-horizontal" 
	
		data-fieldname="regidor8" 
	
	data-signal-error-for="regidor8{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="regidor8" >


	<label class="r-search-label control-label" for="{$labelfor_regidor8}">
		{$label corporacion regidor8 }	</label>
	<div class="r-search-option">
		{$searchtype_regidor8}
	</div>
	<div class="r-search-field">
		{$regidor8_editcontrol}	</div>
	<div class="r-search-field">
		{$regidor8_editcontrol1}
	</div>
	
</div>

{END regidor8_fieldblock}
											
{BEGIN regidor9_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_regidor9}  r-horizontal-field form-horizontal" 
	
		data-fieldname="regidor9" 
	
	data-signal-error-for="regidor9{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="regidor9" >


	<label class="r-search-label control-label" for="{$labelfor_regidor9}">
		{$label corporacion regidor9 }	</label>
	<div class="r-search-option">
		{$searchtype_regidor9}
	</div>
	<div class="r-search-field">
		{$regidor9_editcontrol}	</div>
	<div class="r-search-field">
		{$regidor9_editcontrol1}
	</div>
	
</div>

{END regidor9_fieldblock}
											
{BEGIN regidor10_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_regidor10}  r-horizontal-field form-horizontal" 
	
		data-fieldname="regidor10" 
	
	data-signal-error-for="regidor10{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="regidor10" >


	<label class="r-search-label control-label" for="{$labelfor_regidor10}">
		{$label corporacion regidor10 }	</label>
	<div class="r-search-option">
		{$searchtype_regidor10}
	</div>
	<div class="r-search-field">
		{$regidor10_editcontrol}	</div>
	<div class="r-search-field">
		{$regidor10_editcontrol1}
	</div>
	
</div>

{END regidor10_fieldblock}
	
								</td>
			{END cellblock_grid_c1}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
